---
---

@import "{{ site.theme }}";


/* Custom CSS */
header {
  border-bottom: 5px dashed #f56042;
}

#header {
  display: flex;
}

#heder {
  margin-left: 50px;
}

#a-image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.pagination {
  margin-top: 50px;
}

.btn {
  border-radius: 5px;
  color: #66abff;
  background-color: rgba(121, 164, 189, 0.3);
}

.post_title {
  font-size: 34px;
  color: #d0d8db;
}

.post_title small {
  font-size: 20px;
  color: #37a7db;
}

#disqus_thread {
  margin-top: 50px;
}
